body {
  width: 640px;
  height: 360px;
  padding: 0;
  margin: 0;
}

.view-container {
  margin-left: 120px;
  height: 360px;
  position: relative;
  overflow: auto;
}

.developing-tip {
  display: block;
  user-select: none;
  margin-top: 170px;
  text-align: center;
  font-size: 14px;
  color: #c1c8d9;
}
